{
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "env": {
        "es6":     true,
        "browser": true,
        "node":    true,
        "mocha":   true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "max-len": [1, 140, 2, {"ignoreComments": true}],
        "@typescript-eslint/no-unused-vars": "off"

    }
}